*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    user-select: none;
}
.game{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2vw;
    width: 25vw;
    text-align: center;
    height: fit-content;
    padding: 2vw;
    background-image: linear-gradient(hsl(19, 96%, 70%), hsl(60, 100%, 70%));
    border: 0.2vw dashed black;
    border-radius: 2vw;
}
.game h1{
    font-size: 2vw;
    background-color: aliceblue;
    width: 16vw;
    border-radius: 1vw;
    padding: 0.2vw;
}
.settings
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2vw;
}
.settings label{
    font-size: 1.5vw;
    background-color: white;
    padding: 0.1vw;
    border-radius: 0.5vw;
}
.settings input{
    width: 3vw;
    height: 4vw;
    text-align: center;
    font-size: 1vw;
    user-select: none;
    background-color: whitesmoke;
    border: 0.1vw solid black;
    border-radius: 1vw;
}
#submitSettings{
    width: 5vw;
    height: 2vw;
    font-size: 1.3vw;
    background-color: hsl(0, 0%, 100%);
    border: 0.15vw black solid;
    border-radius: 0.8vw;
}
#gameStart{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1vw;
    display: none;
}
#gameStart input{
    width: 4vw;
    height: 2vw;
    background-color: whitesmoke;
    border-radius: 1vw;
    text-align: center;
    font-size: 1.8vw;
}
#gameStart button{
    width: 6vw;
    height: 2vw;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.5vw;
    font-size: 1vw;
}
.guessAnswer{
    display: none;
}
#errorMsg{
    display: none;
}
#restartBtn{
    display: none;
    width: 5vw;
    height: 2vw;
    font-size: 1.3vw;
    background-color: white;
    border-radius: 0.8vw;
}