@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    user-select: none;
}
body{
    background-color: aliceblue;
}

button{
    cursor: pointer;
}

.stranka{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left:10rem ;
    margin-right:10rem ;
    background-image: url(bodypattern.jpg);
}


.header{                   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem;
    height: 30rem;
    width: 100%;
    min-height: 30rem;
    background-color: rgb(179, 179, 179);
}
.topmenukontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap:0px;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}
.topmenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5rem;
    width: 100%;
    background-color: white;
}
.topmenu button{
    width: 100%;
    background-color: white;
    font-weight: 700;
    border: none;
}
.topmenu button:hover{
    background-color: hsl(0, 0%, 90%);
    font-size: 0.8rem;
}
.topmenu button:active{
    color: hsl(0, 100%, 40%);
}
.rychlelinkykontainer{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: radial-gradient(white,black);
    background-image: url(headerbackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.rychlelinkykontainer button{
    font-size: 2rem;
    border: none;
    background: none;
    color: white;
    font-weight: 1000;
    border-radius: 0.2rem;
}
.rychlelinkykontainer button:nth-child(2){
    border-radius: 5rem;
    height: 6.25rem;
}
.rychlelinkykontainer button:nth-child(1):hover{
    font-size: 2.1rem;
    color: white;
    background-color: hsla(0, 100%, 50%, 0.8);
    border-radius: 0.2rem;
    box-shadow: 0 0.1rem 0.1rem black;
    padding:0.5rem;
}
.rychlelinkykontainer button:nth-child(1):active{
    background-color: white;
    color: black;
    
}
.rychlelinkykontainer button:nth-child(3):hover{
    font-size: 2.1rem;
    color: white;
    background-color: hsla(0, 100%, 50%, 0.8);
    border-radius: 0.2rem;
    box-shadow: 0 0.1rem 0.1rem black;
    padding:0.5rem;
}
.rychlelinkykontainer button:nth-child(3):active{
    background-color: white;
    color: black;
    
}
.rychlelinkykontainer button:nth-child(2):hover{
    color: white;
    background-color: hsla(0, 100%, 50%, 0.8);
}
.rychlelinkykontainer button a img:nth-child(2){
    display: none;
    background-color: white;
    border-radius: 5rem;
    height: 6.27rem;
}
.rychlelinkykontainer button:nth-child(2):active img:nth-child(1){
    display: none;
    background-color: none;
}
.rychlelinkykontainer button:nth-child(2):active img:nth-child(2){
    display: block;
}
.logo{
    width: 15rem;
    height: 15rem;
    min-width: 15rem;
    min-height: 15rem;
    background-color: red;  
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.logokontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.logoextend{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 15rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    background-color: hsl(0, 100%, 57%);
    color: white;
    font-weight: 1000;
    font-size: 2rem;
}
.logoextend p{
    text-align: center;
    width: 99%;
    box-shadow: 0rem 0.1rem 0.2rem black;
}
.logoextend p:hover{
    box-shadow: 0.2rem 0.2rem 0.2rem black;
}
main{
    margin-top:5rem;
    height: 100vh;
    width: 100%;
    background-image: url(mainbackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    opacity: 90%;

}
.nadpisnovinky{
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    margin-top: 1rem;
    font-weight: 800;
    font-size: 5rem;
    background-color: whitesmoke;
}
.novinky{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10rem;
}
.novinkykontainer{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hsl(0, 0%, 93%);
    max-width: 20rem;
    max-height: 30rem;
    min-width: 20rem;
    min-height: 30rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    border-radius: 2rem;
    border: 0.1rem solid hsl(0, 0%, 40%);
    overflow: hidden;
    box-shadow: 0 0.2rem 0.2rem black;
}
.novinkykontainer p{
    padding-top: 1rem;
}
.novinkykontainer img{
    display: none;
}
.novinkykontainer:hover{
    border: 0.2rem dashed hsl(0, 0%, 0%);
    margin-top: 1rem;
}

.novinkykontainer span{
    display: none;
}
.novinkykontainer:hover span{
    display: block;
}
.novinkykontainer span{
    background-color: hsl(0, 0%, 70%);
    width: fit-content;
    align-self: center;
    padding: 0 1rem;
    border-bottom-right-radius:1rem;
    border-bottom-left-radius:1rem;
}
.novinkykontainer span:hover{
    background-color: hsl(0, 0%, 80%);
}
.novinkykontainer span:active{
    background-color: hsl(0, 0%, 85%);
}
.novinkykontainer span:focus + p{
    position: fixed;
    top: 10rem;
    left: 30rem;
    bottom: 10rem;
    background-color: hsl(0, 0%, 93%);
    max-width: 50rem;
    max-height: 50rem;
    min-width: 50rem;
    min-height: 50rem;
    text-align: center;
    border-radius: 2rem;
    border: 0.1rem solid hsl(0, 0%, 40%);
    align-self: center;
    padding: 1rem;
    align-content: center;
    overflow: scroll;
    scrollbar-width: none;
}

.novinkykontainer span:focus {
    display: block;
}
@media screen and (max-width: 481px) {
    .stranka{
        margin: 0;
        flex-wrap: wrap;
    }
    .header{
        flex-wrap: wrap;
    }
    .logoextend{
        display: none;
    }
    .logokontainer{
        width: 100%;
        height: 100%;
    }
    .logo{
        width: 100%;
        height: 100%;
    }
    .topmenukontainer{
        width: 100%;
    }
    .topmenu{
        width: 100%;
    }
    .topmenu button{
        font-size: 0.5rem;
    }
}